fastapi==0.115.12
langchain==0.3.23
milvus
pymilvus
uvicorn==0.34.0
langchain-community
python-multipart
unstructured
python-pptx
langchain_huggingface 
python-ulid
google-genai
googlesearch-python
beautifulsoup4